:root {
  /* Paleta definida */
  --color-white: #FFFFFF;
  --color-lilac-light: #A8B0FF;
  --color-blue-medium: #8B95E1;
  --color-blue-purple: #6D7AC4;
  --color-blue-deep: #505FA6;
  --color-blue-dark: #324488;
  --color-black: #000000;

  /* Variáveis de layout */
  --max-width: 1200px;
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

body {
  font-family: var(--font-family);
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  transition: all 0.3s ease;
}